<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책검색 | 로그인</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<div class="wrapper">
    <div class="title"><h1 style="font-size: 21px;">책검색 로그인</h1></div>
    <form name="loginForm" th:method="post" th:action="@{/login/checkuser}" th:object="${userDTO}">

    <div class="email">
        <input th:field="*{userEmail}" name="userEmail" id="email" type="text" placeholder="이메일을 입력해 주세요.">
        <div id="emailError" class="error"></div>
    </div>

    <div class="password">
        <input th:field="*{userPassword}" name="userPassword" id="password" type="password" placeholder="비밀번호를 입력해 주세요.">
        <div id="passwordError" class="error"></div>
    </div>

    <div class="line">
        <hr>
    </div>
    </form>
    <div class="signUp">
        <button id="signUpButton" onclick="loginCheck()">로그인</button>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>

    // 로그인부분 체크
    function loginCheck() {

        let formData = new FormData();

        formData.append('userEmail', $("input[name='userEmail']").val());
        formData.append('userPassword', $("input[name='userPassword']").val());

        $.ajax({
            url: "/login/checkidpw", //
            type: "post",
            data: formData, //id, pw 입력된 것 formdata로 넘김
            enctype: 'multipart/form-data',
            cache: false,
            contentType: false,
            processData: false,

            success: function (result) {
                if (result) {
                    alert("로그인 성공");
                    loginForm.submit();
                } else {
                    alert("아이디와 비밀번호를 확인해주세요");
                }

            }
        })
    }
</script>
</html>